body {
  font-family: Arial, sans-serif;

  background-color: #1c222e;

  color: #95a0a2;

  text-align: center;

  margin: 0;
}
.container {
  width: 400px;

  margin: 50px auto;
}
#ventilador {
  position: relative;

  width: 300px;
  height: 300px;

  margin: 30px auto;

  background-color: #95a0a2;

  border: 10px solid #666e70;

  border-radius: 50%;
}
.helices {
  position: absolute;

  width: 180px;
  height: 180px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.helice {
  position: absolute;

  width: 35px;
  height: 80px;

  background-color: #3f474a;

  top: 10px;
  left: 72px;

  border-radius: 50%;

  transform-origin: center 80px;
}
.helice:nth-child(1) {
  transform: rotate(0deg);
}

.helice:nth-child(2) {
  transform: rotate(120deg);
}

.helice:nth-child(3) {
  transform: rotate(240deg);
}
.centro {
  position: absolute;

  width: 45px;
  height: 45px;

  background-color: #1c222e;

  border-radius: 50%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 10;
}
@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#ventilador.ligado {
  box-shadow:
    0 0 15px #666e70,
    0 0 30px #959595,
    0 0 50px #95a0a2;
}

#ventilador.ligado .helices {
  animation: girar 1s linear infinite;
}
button {
  padding: 10px 20px;

  margin: 5px;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;

  background-color: #959595;

  color: white;
}

button:hover {
  background-color: #95a0a2;

  transform: scale(1.05);
}
.velocidade {
  background-color: #95a0a2;

  color: white;

  font-weight: bold;
}

.velocidade.selecionada {
  background-color: #3f474a;

  box-shadow: 0 0 15px #3f474a;
}
